<h2><img src='https://cdn3.movieweb.com/i/article/smEtA5KhVsSAsLOcFvhxUkQGcP8yIX/738:50/Star-Wars-Original-Trilogy-Unaltered-Blu-Rays.jpg' 
    alt ='Star wars lol' style= "width:300px; height:150px;"></h2>
<h2>Please choose</h2>
<input type='number' placeholder="id" min='1' max='5' [(ngModel)]=
'frmID'/>
<br/>
<select [(ngModel)]='whichCategory'>
    <option *ngFor='let item of choices'>{{item.cat}} </option>
</select>
<button (click)='handleClick()'>select category</button>

<h2>Here are the results</h2>
<!--conditionally show results-->
<div *ngIf='whichCategory=="planets"'>Name:{{model.name}} Population:{{model.population}} 
    Rotation Period:{{model.rotation_period}}</div>
<div *ngIf='whichCategory=="species"'>Name:{{model.name}} Language:{{model.language}}</div>
<div *ngIf='whichCategory=="vehicles"'>Name:{{model.name}} Vehicles:{{model.model}} 
    Manufacturer:{{model.manufacturer}}</div>
<div *ngIf='whichCategory=="people"'>Name:{{model.name}} Height:{{model.height}}</div>
<div *ngIf='whichCategory=="starships"'>Name:{{model.name}} Model:{{model.model}}</div>

<pre>{{model | json}}</pre>